.App {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 900px;
}
.searchResults {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
}
.favors {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
}
.card {
  height: 150px;
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.image {
  height: 100%;
  width: 100px;
  border-radius: 5px;
  object-fit: contain;
}
.heart {
  cursor: pointer;
}
.details {
  padding: 5px;
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rightSide {
}
.name {
  font-size: 18px;
}
.score {
  font-size: 12px;
}
